body {
    padding-top: 200px;
}

.compteur-box {
    width: 300px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, red, yellow, green);
    box-shadow: 2px 2px 20px;
}

button {
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px;

}

.rouge{
    background-color: red;
}
.jaune{
    background-color: yellow;
}
.vert{
    background-color: green;
}